<li class="<%= cycle('', 'alt') %>">

<% if variant.images.length == 0 %>
<%= link_to mini_image(variant.product), variant.product %>
<% else %>
<%= link_to image_tag(variant.images.first.attachment.url(:mini)), variant.product %>
<% end %>

<%= "#{line_item.quantity}" %> x 
<%= link_to variant.product.name, spree.product_path(variant.product) %><br>
<%= variant.options_text %><br>
<%= Spree::Money.new(line_item.price * line_item.quantity, { currency: current_currency }).to_html unless line_item.quantity.nil? %>

  <div class='minicart-actions' data-hook="minicart_item_actions">
    <div data-hook="minicart_item_quantity">
      <%= item_form.hidden_field :quantity, :min => 0, :class => "line_item_quantity" %>
    </div>

    <div data-hook="minicart_item_delete">
      <%= link_to image_tag('icons/delete.png'), '#', :class => 'minicart_remove', :id => "delete_#{dom_id(line_item)}" %>
    </div>
  </div>

</li>
